/*general*/

body {
    background-color:#ebebeb;
    font-family: 'Open Sans', sans-serif;
}

/*text*/

h1{
    text-align: center;
    color:#dd5555;
    font-weight:800;
}

h2 {
    font-size:30px;
    text-align: center;
    font-family: arial;
    color: #908783;
    font-weight:800;
}

p{
    color: #abadb0;
    text-align: justify;
    font-size: 25px;
    margin: 0px auto 0px auto;
    }

strong {
    color:#7d7d7d;
    }


/*container*/

.container1 {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 30px auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    background-color:white;
}


.container2 {
        /*general*/
    width: 100%;
    max-width: 800px;
    background-color:white;
    margin: 50px auto 30px auto;
    padding: 30px 30px 30px 30px;
    border-radius:10px;
    color: #abadb0;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    font-size: 40px;
        /*flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

   /*a -> container2*/
.container2 a {
    padding: 60px 20px;
    font-size: 35px;
    color:#d0d0d0;
}


.container3 {
    width: 100%;
    max-width: 800px;
    background-color:white;
    margin: 20px auto 20px auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    color: #abadb0;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
}

/*grid fot film*/

.grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas:'title title'
                        'movie1 space' 
                        'movie2 monsieur'
                        'movie3 alien' 
                        ; 
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    margin: 0px 20px 20px 20px;
  
}

    /*img in grid*/
.movie1{
    grid-area: movie1;
    width:82%;
}

.movie2{
    grid-area: movie2;
    width:82%;
}

.movie3{
    grid-area: movie3;
    width:82%;
}

    /*text in grid*/

    .title {
        grid-area: title;
    }

    .space{

        grid-area: space;
    }

    .monsieur{
        grid-area: monsieur;
    }

    .alien{
        grid-area: alien;
    }


/*img*/


.profil {
    width: 140px;
    display: block;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    border:6px solid #abadb0;;
    border-radius: 180px;
}


/*button*/

button {
    display: block;
    color: white;
    margin-left:auto;
    margin-right:auto;
    background-color:#dd5555;
    border:none;
    border-radius: 6px;
    padding: 17px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}


/*responsive*/

@media screen and (max-width: 650px) {
    /*general*/
    .container1 {
        max-width: 250px;

    }

    .container2 {
        max-width: 250px;
        
    }

    .container3 {
        max-width: 250px;
    }

    /*grid*/

    grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:'title'
                            'movie1'
                            'space' 
                            'movie2'
                            'monsieur'
                            'movie3'
                            'alien' 
                            ; 
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        margin: 0px 20px 20px 20px;
      
    }

    .movie1{
        grid-area: movie1;
        width:180%;
        margin: 3vw 3vw;
    }
    
    .movie2{
        grid-area: movie2;
        width:180%;
    }
    
    .movie3{
        grid-area: movie3;
        width:180%;
    }

}
